<!DOCTYPE html>
<html>
  <head>
    <style>
      /* CSS-Stile für die E-Mail */
      body {
        font-family: Arial, sans-serif;
      }
      
    </style>
  </head>
  <body>
    <div style="display: flex; justify-content: center; height: 50vh;">
    <table width="40%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" bgcolor="#007bff" style="padding: 10px; border-radius: 5px;">
          <h1 style="color: #ffffff;">Foodup Restaurantregistrierung</h1>
        </td>
      </tr>
      <tr>
        <td align="center" bgcolor="white" style="padding: 20px; border-radius: 5px;">
          <p style="font-size: 16px;">
            Hallo,
            <br>
            vielen Dank, dass du Dich dafür entschieden hast der Foodup Community beizutreten und dein Restaurant zur Registrierung eingereicht hast.
          </p>
          <p>
            Wir werden deine Einreichung so schnell wie möglich prüfen und Dich zeitnah kontaktieren. Danach wird dein Restaurant auf den Status "Aktiv" gesetzt, den du
            auch in Deinem Profil unter "Einstellungen > Mein Restaurant" einsehen kannst. 
          </p>
          <p>
            Für Fragen stehen wir Dir gerne zu Verfügung. Schreib uns eine Email unter office@foodup.at und wir melden uns bei Dir!
          </p>
          <p style="font-size: 16px;">
            Danke für Deinen Einsatz!
            <br>
            Dein Foodup-Team
          </p>
        </td>
      </tr>
          
    </table>
</div>
  </body>
</html>

