<!DOCTYPE html>
<html>
  <head>
    <style>
      /* CSS-Stile für die E-Mail */
      body {
        font-family: Arial, sans-serif;
      }
      
    </style>
  </head>
  <body>
    <div style="display: flex; justify-content: center; height: 50vh;">
    <table width="30%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" bgcolor="#007bff" style="padding: 10px; border-radius: 5px;">
          <h1 style="color: #ffffff;">Foodup Aktivierungscode</h1>
        </td>
      </tr>
      <tr>
        <td align="center" bgcolor="white" style="padding: 20px; border-radius: 5px;">
          <p style="font-size: 16px;">
            Hallo,
            <br>
            Das ist dein Aktivierungscode um dich bei Foodup einzuloggen:
          </p>
          <table width="100%" bgcolor="black" style="padding: 10px; border-radius: 5px;">
            <tr>
              <td align="center">
                <p style="font-size: 20px; color: #ffffff; margin: 0;">{{ activation_code }}</p>
              </td>
            </tr>
          </table>
          <p style="font-size: 16px;">
            Vielen Spaß!
            <br>
            Dein Foodup-Team
          </p>
        </td>
      </tr>
    </table>
</div>
  </body>
</html>

